pytest
black
bandit
coverage
faker
flake8
mypy  # linting on types
isort
starlette
fastapi
codecov
nose-exclude
nose-timer
pluggy>=1.0
# Types
types-chardet
types-requests
types-pyOpenSSL
unittest2
nose2
httpx